apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ilvx
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-zogp-tenant/byoc-app-ufnt/ilvx@sha256:4f875b5ed32c5fcf4eae1cc7fe91117c113eabc1e40556de66c35b1646f7b7e8
        name: my-java-quarkus
        resources: {}
status: {}
